<?xml version="1.0" encoding="UTF-8"?>
<web-app
        id="WebApp_ID" version="3.0"
        xmlns="http://java.sun.com/xml/ns/j2ee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <display-name>application</display-name>

    <context-param>
        <param-name>productionMode</param-name>
        <param-value>false</param-value>
    </context-param>

    <context-param>
        <param-name>org.restlet.application</param-name>
        <param-value>es.pryades.nadarin.servlets.ServicesServlet</param-value>
    </context-param>

    <servlet>
        <display-name>init</display-name>
        <servlet-name>init</servlet-name>
        <servlet-class>es.pryades.nadarin.servlets.InitServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <display-name>services</display-name>
        <servlet-name>services</servlet-name>
        <servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>services</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Nadarin</servlet-name>
        <servlet-class>es.pryades.nadarin.servlets.NadarinServlet</servlet-class>
        <load-on-startup>1</load-on-startup>

        <init-param>
            <param-name>i18n.provider</param-name>
            <param-value>es.pryades.nadarin.ui.i18n.NadarinI18n</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>Nadarin</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>


</web-app>